---
http_interactions:
- request:
    method: get
    uri: http://shard1.canvas.dev/api/v1/courses/14/users?enrollment_type=student&per_page=4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer Bearer 1~A5dY8IsOyhVOVRJi4V3XWGNsa7pzuIbdM8OCv62YTRFqOsiS9vX0NbtY8PR9q4pX
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Canvas-User-Id:
      - '10000000000001'
      Link:
      - <http://shard1.canvas.dev/api/v1/courses/14/users?enrollment_type=student&page=1&per_page=4>;
        rel="current",<http://shard1.canvas.dev/api/v1/courses/14/users?enrollment_type=student&page=2&per_page=4>;
        rel="next",<http://shard1.canvas.dev/api/v1/courses/14/users?enrollment_type=student&page=1&per_page=4>;
        rel="first",<http://shard1.canvas.dev/api/v1/courses/14/users?enrollment_type=student&page=6&per_page=4>;
        rel="last"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4a4e3f62b00b4b6aff8936702c1cb2d8"'
      X-Session-Id:
      - 5b59731950aae9f1f06f6247662ff3c3
      X-Request-Context-Id:
      - 6116df30-68f6-0132-4d7c-38e85630c82a
      X-Canvas-Meta:
      - a=1;g=DtbEcIgsiKSxJvSoQKH05C46ONAcwvepb4BEBYAz;s=2;c=development;b=329968;m=330416;u=0.20;y=0.01;d=0.00;
    body:
      encoding: UTF-8
      string: '[{"id":154,"name":"Brandon Adams","sortable_name":"Adams, Brandon","short_name":"Brandon
        Adams","sis_user_id":"student_4471","integration_id":null,"sis_login_id":"westudent1","sis_import_id":4,"login_id":"westudent1"},{"id":126,"name":"Barry
        Blankenship","sortable_name":"Blankenship, Barry","short_name":"Barry Blankenship","sis_user_id":"student_4443","integration_id":null,"sis_login_id":"westudent38","sis_import_id":4,"login_id":"westudent38"},{"id":109,"name":"Rachel
        Brown","sortable_name":"Brown, Rachel","short_name":"Rachel Brown","sis_user_id":"student_4426","integration_id":null,"sis_login_id":"westudent63","sis_import_id":4,"login_id":"westudent63"},{"id":130,"name":"Riley
        Brown","sortable_name":"Brown, Riley","short_name":"Riley Brown","sis_user_id":"student_4447","integration_id":null,"sis_login_id":"westudent64","sis_import_id":4,"login_id":"westudent64"}]'
  recorded_at: Thu, 18 Dec 2014 15:13:43 GMT
recorded_with: VCR 2.9.3
