---
http_interactions:
- request:
    method: get
    uri: http://shard1.canvas.dev/api/v1/courses/14/users?enrollment_type=student
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer Bearer 1~A5dY8IsOyhVOVRJi4V3XWGNsa7pzuIbdM8OCv62YTRFqOsiS9vX0NbtY8PR9q4pX
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Canvas-User-Id:
      - '10000000000001'
      Link:
      - <http://shard1.canvas.dev/api/v1/courses/14/users?enrollment_type=student&page=1&per_page=10>;
        rel="current",<http://shard1.canvas.dev/api/v1/courses/14/users?enrollment_type=student&page=2&per_page=10>;
        rel="next",<http://shard1.canvas.dev/api/v1/courses/14/users?enrollment_type=student&page=1&per_page=10>;
        rel="first",<http://shard1.canvas.dev/api/v1/courses/14/users?enrollment_type=student&page=3&per_page=10>;
        rel="last"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d8494ce40b4b8be8addbb736bfd1c333"'
      X-Session-Id:
      - 76414941a586ff4bef0337f23df28509
      X-Request-Context-Id:
      - 29716e60-6c53-0132-52e9-38e85630c82a
      X-Canvas-Meta:
      - a=1;g=DtbEcIgsiKSxJvSoQKH05C46ONAcwvepb4BEBYAz;s=2;c=development;b=371464;m=371464;u=0.23;y=0.02;d=0.01;
    body:
      encoding: UTF-8
      string: '[{"id":154,"name":"Brandon Adams","sortable_name":"Adams, Brandon","short_name":"Brandon
        Adams","sis_user_id":"student_4471","integration_id":null,"sis_login_id":"westudent1","sis_import_id":4,"login_id":"westudent1"},{"id":126,"name":"Barry
        Blankenship","sortable_name":"Blankenship, Barry","short_name":"Barry Blankenship","sis_user_id":"student_4443","integration_id":null,"sis_login_id":"westudent38","sis_import_id":4,"login_id":"westudent38"},{"id":109,"name":"Rachel
        Brown","sortable_name":"Brown, Rachel","short_name":"Rachel Brown","sis_user_id":"student_4426","integration_id":null,"sis_login_id":"westudent63","sis_import_id":4,"login_id":"westudent63"},{"id":130,"name":"Riley[...]
- request:
    method: get
    uri: http://shard1.canvas.dev/api/v1/courses/14/users?enrollment_type=student&page=2&per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer Bearer 1~A5dY8IsOyhVOVRJi4V3XWGNsa7pzuIbdM8OCv62YTRFqOsiS9vX0NbtY8PR9q4pX
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Canvas-User-Id:
      - '10000000000001'
      Link:
      - <http://shard1.canvas.dev/api/v1/courses/14/users?enrollm[...]
[...]
