---
http_interactions:
- request:
    method: get
    uri: http://shard1.canvas.dev/api/v1/courses/14/sections
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer Bearer 1~A5dY8IsOyhVOVRJi4V3XWGNsa7pzuIbdM8OCv62YTRFqOsiS9vX0NbtY8PR9q4pX
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Canvas-User-Id:
      - '10000000000001'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d57de41ff2edcb1840cba95cd99ceb93"'
      X-Session-Id:
      - ed3089094605b369c73c4ff0002cc5fe
      X-Request-Context-Id:
      - d877b560-6c48-0132-52e9-38e85630c82a
      X-Canvas-Meta:
      - a=1;g=DtbEcIgsiKSxJvSoQKH05C46ONAcwvepb4BEBYAz;s=2;c=development;b=328372;m=328372;u=0.19;y=0.01;d=0.00;
    body:
      encoding: UTF-8
      string: '[{"course_id":14,"end_at":null,"id":14,"name":"1st Grade English-EL101-14-15-Barker","nonxlist_course_id":null,"start_at":null,"sis_section_id":"1994","sis_course_id":"1994","integration_id":"1994","sis_import_id":4}]'
  recorded_at: Mon, 22 Dec 2014 20:41:36 GMT
recorded_with: VCR 2.9.3
